<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Proxy Information</title>
</head>
<body>
    <table border="1">
        <tr>
            <td align="center">update time</td>
            <td align="center">quantity</td>
        </tr>
        <tr>
            <td align="center">10 mins</td>
            <td align="center">{{ ten_min }}</td>
        </tr>
        <tr>
            <td align="center">1 hour</td>
            <td align="center">{{ one_hour }}</td>
        </tr>
        <tr>
            <td align="center">2 hour</td>
            <td align="center">{{ two_hour }}</td>
        </tr>
        <tr>
            <td align="center">12 hours</td>
            <td align="center">{{ twe_hour }}</td>
        </tr>
        <tr>
            <td align="center">anytime</td>
            <td align="center">{{ all_objects }}</td>
        </tr>
    </table>

</body>
</html>